<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{10}[%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="debug" class="ch.qos.logback.core.FileAppender">
		<file>${user.dir}/debug.log</file>
		<append>false</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} %-5level %logger{10}[%line] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="error" class="ch.qos.logback.core.FileAppender">
		<file>${user.dir}/error.log</file>
		<append>false</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} %-5level %logger{10}[%line] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="lab.ticket" additivity="true">
		<appender-ref ref="debug" />
		<appender-ref ref="error" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>